*{
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img{
    background-image: url("background.jpg");
    background-size: cover;
    min-height: 100vh;
}
nav h1{
    padding : 5px;
    padding-left: 30px;
    color: white;
    padding-top: 20px;
    font-family:cursive;
}
nav ul{
    display: flex;
    gap: 25px;
    list-style:none;
    padding-right: 25px;
    padding-top: 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
#Home{
    padding-top:300px ;
    padding-left: 40px;
    color: white;
    h2{
        font-size: 40px;
    }
}
#About{
    text-align: center;
    padding: 40px;
}
#projects{
    text-align: center;
    margin: 30px;
    background-color: rgb(54, 176, 233);
    border-radius: 15px;
    padding: 30px;
    h2{
        padding-bottom: 20px;
        color: white;
    }
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    padding: 20px;
}
.Project-1{
    background-color: rgb(119, 197, 241);
    padding-top: 28px;
    border-radius: 10px;
    h3{
        margin-bottom: 7px;
    }
}
.Project-1:hover{
    transform: translateY(-2px);
    transition: 0.2s;
}
.Project-2{
    background-color: rgb(119, 197, 241);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    h3{
        margin-bottom: 7px;
    }
}
.Project-2:hover{
    transform: translateY(-2px);
    transition: 0.2s;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
#Contact{
    form{
        display: flex;
        flex-direction: column;
        gap: 10px;  
    }
    text-align: center;
    margin: 20px;
}
.contact-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
button{
    background-color: rgb(99, 113, 240);
    color: white;
    padding: 5px;
    border: none;
}
button:hover{
    transform:translateY(-2px) ;
    transition: 0.2s;
    background-color: blue
}
button:active{
    transform: translateY(2px);
    transition: 0.2s;
}
input,textarea{
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
}
@media(max-width:768px){
    nav{
        flex-direction: column;
    }
    .projects-container{
        grid-template-columns: 1fr;
    }
    .contact-container{
        grid-template-columns: 1fr;
    }
}